.page-header-image
{
  background-image: url('../public/js/hospital-management/assets/images/login.jpg');
}
.slider 
{
  background-image: url('./images/assets/images/slider1.jpg');
}
.dashboard .navbar
{
    position: unset !important;
    width: 100% !important;
}
.dashboard .dropdown-toggle
{
    position: relative;
}
.dashboard .dropdown-toggle::after {
    display: inline-block;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dashboard .dropdown-menu
{
    left: 0 !important;
} 
